<footer >
  <div class=" footer-Container">
      <div class="footer-socials">
          <i class="fa-brands fa-facebook"></i>
          <a href="https://x.com/akash_wt"><i class="fa-brands fa-twitter"></i></a>
          <i class="fa-brands fa-square-instagram"></i>
          
        </div>

        <p>&copy; 2024 AirBnb,Inc.</p> 
        
        <div class="footer-links">
         
          <a  href="">Terms</a>
          <a href="">Privacy</a>
          <a href="">Company Details</a>
        </div>
  </div>
</footer>
