<% layout('/layouts/boilerplate.ejs') -%>

<div class="row mt-4">
  <div class="alert alert-danger col-6 offset-3  error-msg" role="alert">
    <p><%= err.name %></p>
   <p><%= err.stack%></p>
  </div>
</div>